body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 7%;
    padding: 0;
}

.container {
    max-width: 430px;
    margin: 0 auto;
    background-color: #e0dfdf;
    padding: 39px;  /* Container padding */
    border-radius: 35px;
    box-shadow: 2px 2px 20px rgba(98, 98, 98, 0.5);
}

h2 {
    text-align: center;
    margin-bottom: 48px; /* Increased margin for more space */
    color: #000000;
}

.form-group {
    position: relative;
    margin-bottom: 15px; /* Shorter distance between input elements */
    text-align: left;
}

input[type="password"] {
    width: 91%;
    padding: 12px 18px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom:10px;
    background: #ffffff; /* Pure white color */
}

input:hover[type="password"]
{
    border: 1px solid #c0c0c0;
}

label {
    position: absolute;
}

input:focus + label,
input:not(:placeholder-shown) + label {
    top: -10px;
    left: 10px;
    background-color: #ffffff;
    padding: 3px 8px;
    border-radius: 10px;
    font-size: 12px;
    color: #000000;
}

input:focus {
    outline: none;
    border-color: #ffffff;
}

.button-container {
    text-align: center;
    margin-top: 30px; /* Distance from input elements to button */
}

button[type="submit"] {
    padding: 16px 30px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.6s ease;
}

button[type="submit"]:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: 11px 10px 50px rgb(52, 52, 52);
}


